/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Cairo General web Fonts */
@import url('https://fonts.googleapis.com/css?family=Cairo:300,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan&display=swap');

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
	/* Nav Margin */
	.nav-padding{
		padding: 15px 25px;
	}
	.nav-color{
		background-color: #4F9FE2;
	}
	/* Logo Size */
	.c-size{
		height: 60px;
		width: 90px;
	}
	/* date Font */
	.date-font {
		color: #afcae0;
		font-family: 'Cairo', sans-serif;
		font-weight: 200;
	}
/* CSS Menu start */

.bar1, .bar2, .bar3 {
	width: 40px;
	height: 5px;
	margin: 6px 0;
	transition: 0.4s;
}
  
.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
	  -webkit-transform: rotate(45deg) translate(-8px, -8px);
	  transform: rotate(45deg) translate(-8px, -8px);
	}
	/* CSS Menu end */
	/* Matches Card Section start */
	#card {
		height: 45vh;
		background-color: #66BEE6;
		margin-block-end: 6rem !important;
	}
	.card-head {
		background-color: #132943;
		font-family: 'Cairo', sans-serif;
	}
	.card-core img {
		height: 25px;
		width: 25px;
	}
	.card-body {
		background-color: #D5EAFF;
	}
	.card-row {
		padding: 12px 0px 15px 0;
		border-bottom: 1px solid #7D7F82;
		
	}
	.card-foot {
		font-family: 'Cairo', sans-serif;
		font-weight: 700;
	}
	.border-card {
		border-radius: 16px 16px 0 0;
	}
	/* Matches Card Section end */
	/* News card start */
	.custom-size {
		height: 8rem;
	}
	.custom-card-title{
		
		font-family: 'Baloo Bhaijaan', cursive;
		font-weight: 400;
	}
	
	.card-text {
		line-height: 1rem;
		font-size: small;
		
	}
	.card-info img {
		height: 1rem;
	}
	/* card nav style start */
	.nav-pills {
		background-color: #63A4FF;
		border-radius: 12px 12px 0 0;
	}
	.nav-pills .nav-link {
		color: #c7deff;
	}
	.nav-pills .nav-link.active {
		background-color: #132943;
		border-radius: 12px 12px 0 0;
	}
	/* card nav style end */
	/* News card end */
	/* border custom style start */
	.custom-border hr {
		border: .7px solid #cacaca;
	}
	/* border custom style end */
	/* text line post style start */
	.text-line-post {
		font-family: 'Baloo Bhaijaan', cursive;
	}
	.text-line-post__flip {
		transform: scale(-1);
		height: 25px;
	}
	.text-line-post__color {
		color: #8c8c8c;
	}
	/* text line post style end */
	/* read more padding start */
	.read-more-padding {
		background-color: #63A4FF;
		border-radius: 12px 12px 0 0;
        padding: 5px 97px 5px 97px;
	}
	/* read more padding end */
	/* Video Grid section start*/
	/* med sport style start */
	.med-style {
		color: #1A395B;
		font-family: 'Roboto', sans-serif;
        font-size: 25px;
	}
	.custom-hr hr{
		border: 2px solid #1A395B;
	}
	/* card grid */
	.custom-card-grid .card {
		width: 12rem;
		
	}
	.custom-card-grid .card-title {
		font-family: 'Cairo', sans-serif;
		font-weight: 100;
		font-size: 0.8rem;
		position: relative;
		top: 17px;
	}
	.custom-image__size {
		height: 4rem;
		width: 4rem;
	}
	/* med sport style end */
	/* Video Grid section end*/
	/*Leages section start  */
	#league {
		font-family: 'Cairo', sans-serif;
	}
	/* leages logo start */
	.leagues-logo img {
		height: 4rem;
	}
	/* leages logo end */
	/*Leages section end  */
	
	/* section Med-Info start */
	.med-info-content img {
		height: 80px;
		width: 125px;
	}
	.custom-font{
		font-family: 'Roboto', sans-serif;
		line-height: 1.4rem;
	}
	.facebook-color {
		background-color: #3B5998;
	}
	.custom-follow-size {
		height: 1.7rem;
	}
	.custom-follow-font {
		font-family: 'Cairo', sans-serif;
		font-weight: 100;
	}
	.youtube-color {
		background-color: #FF0000;
	}
	.twitter-color {
		background-color: #76A9EA;
	}
	.instagram-color {
		background-color: black;
	}
	/* section Med-Info end */
	/* footer start */
	.custom-footer-color {
		background-color: #4793E0;
		font-family: 'Cairo', sans-serif;
		font-weight: 100;
	}
	/* footer end */
}

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 

 }

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 

 }

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

 }

/*  Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }